body {
	background-color: rgb(241,233,222);
	background-color: Whitesmoke;
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
}

/*.crossroad,.fate,.history{border:solid 1px Crimson;border-radius: 10px;}*/
.fate,.history{border:solid 1px Crimson;border-radius: 10px;}

.crossroad {
	position: absolute;
	width: 40%;
	height: 60%;
	top: 0px;
	left:3%;
}


.fate {
	position: absolute;
	width: 40%;
	height: 35%;
	top: 60%;
	left:3%;
	overflow: auto;
	padding: 10px;
}

.fate-title{
width: 100px;
position: relative;
float: left;
}

.fate-block{
border:solid 1px black;border-radius: 3px;
}

.history {
	position: absolute;
	width: 50%;
	height: 95%;
	top: 0px;
	left: 45%;
	overflow: auto;
	padding: 10px;
}

.crossroad-north ,
.crossroad-west ,
.crossroad-station ,
.crossroad-east,
.crossroad-south {
	position: absolute;	
	background-color: rgba(0,233,222,0.2);
	background-color: Steelblue;
	background-image:
	linear-gradient(to bottom right, Bisque 25%, transparent 25%, transparent 75%, Bisque 75%),
	linear-gradient(to bottom left, Bisque 25%, transparent 25%, transparent 75%, Bisque 75%);
	background-size: 10% 15% ;
	background-position: center;
	height: 30%;
	width: 30%;
	border:solid 2px black;
	border-radius: 5px;
	font-size: 16pt;
	padding: 5px;
	box-sizing: border-box;
}

.crossroad-north {
	top:2.5%;
	left: 35%;
}
.crossroad-west {
	top:35%;
	left: 2.5%;
}
.crossroad-station {
	top:35%;
	left: 35%;
}
.crossroad-east {
	top:35%;
	left:67.5%;
}
.crossroad-south {
	top:67.5%;
	left: 35%;
}

.crossroad-card {
	width: 100%;
	height: 100%;
	box-sizing:border-box;
	border: 1px solid black;
	border-radius: 5px;
	/*background-color: Linen;*/
	/*padding: 5px;*/
}
.crossroad-card-lear {
}
.crossroad-card-value {
}

.stage{
	width: 250px;
	height: 30px;
	border:1px solid;
	border-radius: 3px;
	margin-bottom: 10px;
}
.title{
	float: left;
	width: 50px;
	padding: 5px;
}
#name{
	float: left;
	width: 160px;
}


/*--- POPUP ---*/
.popup {
	position: absolute;
	top:25px;
	left:25px;
	bottom:25px;
	right:25px;
}
.popupWrapper {
	position: absolute;
	z-index: 10;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);

}
.notdisplay {
	display: none;
}
.popupLine {
	height: 18%;
	margin-bottom: 1%;
	text-align: center;

}
.popupCard {
	display: inline-block;
	width: 6%;
	height: 70%;
	background-color: rgba(255,255,255,0.5);
	background-color: Wheat;
	margin-right: 0.5%;
	margin-left: 0.5%;
	vertical-align: top;
	border:solid 1px black;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	font-size: 16pt;
}

.crossroad-checked-text{
	/*margin: 5px;*/
	/*padding: 5px;*/
	background-color: Wheat;
	border-radius: 5px;
	width: 100%;
	height: 100%;
}

.colorclubs{
	background-color: SteelBlue;
	/*background-color: rgba(48,100,175,1);*/
	background-image: radial-gradient(circle farthest-side at 0px 0px, transparent,transparent,transparent, rgba(48,100,175,1)),
	radial-gradient(circle farthest-side at 100% 100%, transparent,transparent,transparent, rgba(48,100,175,1)),
	url(../img/tomes.svg);
	background-size: 100% 100% ;
	background-position: center;
	background-repeat: no-repeat;
	color: white;
}

.colordiamonds{
	/*background-color: Indigo;*/
	/*background-color: rgba(121,78,143,1);*/
	background-image:
	radial-gradient(circle farthest-side at 0px 0px, transparent,transparent,transparent, rgba(121,78,143,1)),
	radial-gradient(circle farthest-side at 100% 100%, transparent,transparent,transparent, rgba(121,78,143,1)),
	url(../img/masks.svg);
	/*background-image:url(../img/masks.svg);*/
	background-size: 100% 100% ;
	/*background-position: center;*/
	/*background-repeat: no-repeat;*/
	color: white;
}

.colorhearts{
	/*background-color: Darkred;*/
	/*background-color: rgba(171,49,45,1);*/
	/*background: radial-gradient(circle farthest-side at 0px 0px, transparent,transparent, rgba(171,49,45,1)),radial-gradient(circle farthest-side at 100% 100%, transparent,transparent, rgba(171,49,45,1));*/
	
	background-image: radial-gradient(circle farthest-side at 0px 0px, transparent,transparent,transparent,
		rgba(171,49,45,1)),radial-gradient(circle farthest-side at 100% 100%, transparent,transparent,transparent,rgba(171,49,45,1)),
		url(../img/rams.svg);
	background-size: 100% 100% ;
	background-position: center;
	background-repeat: no-repeat;
	color: white;
}

.colorspades{
	background-color: DarkOliveGreen;
	background-color: rgba(0,150,72,1);
	background-image: radial-gradient(circle farthest-side at 0px 0px, transparent,transparent, rgba(0,150,72,1)),radial-gradient(circle farthest-side at 100% 100%, transparent,transparent, rgba(0,150,72,1));
	color: white;}

.colorjockers{
	background-color: Goldenrod;
	background-color: Wheat;
	/*background-color: rgba(176,156,60,1);*/
	/*background: radial-gradient(circle farthest-side at 0px 0px, transparent,transparent, rgba(176,156,60,1)),radial-gradient(circle farthest-side at 100% 100%, transparent,transparent, rgba(176,156,60,1));*/
	/*background: radial-gradient(circle farthest-side at 0px 0px, transparent,transparent, rgba(176,156,60,1)),radial-gradient(circle farthest-side at 100% 100%, transparent,transparent, rgba(176,156,60,1));*/
	color: black;}

.catched {
	background-color: black;
	color: #FFF;
	/*background-image: url(../img/cardlabel.svg);
	background-size: 15%;*/
	box-shadow: inset 0 0 20px rgba(0,0,0,0.8);
}

.checked {
	background-image: none;
	background: radial-gradient(circle farthest-side at 0px 0px, transparent,transparent, rgba(200,150,60,1)),
	radial-gradient(circle farthest-side at 100% 100%, transparent,transparent, rgba(200,150,60,1));
	color: Linen;
	color: Darkred;
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

/*Print*/
.bodyprint{
	background-color: transparent;
	width: 20cm;
	height: 20cm;
}

.bodyprint #printbtn,.bodyprint #randombtn{display: none;}

/*22.03.2016*/
.crossroad-checked-text{
	background-color: Wheat;
	border-radius: 5px;
	width: 100%;
	height: 100%;
}
.colorclubs,.colordiamonds,.colorhearts,.colorspades,.colorjockers{
	color: black;
	background-position: center;
	background-size: 80%;
	/*background-size: 50% ;*/
	background-repeat: no-repeat;
}
.colorclubs{
	background-image: url(../img/clubs.svg);
	background-image: url(../img/tomes.svg);
}
.colordiamonds{
	background-image: url(../img/diamonds.svg);
	background-image: url(../img/masks.svg);
}
.colorhearts{
	background-image: url(../img/hearts.svg);
	background-image:url(../img/rams.svg);
}
.colorspades{
	background-image: url(../img/spades.svg);
	background-image: url(../img/crows.svg);
}
.colorjockers{
	background-color: Goldenrod;
}
