body {
	background-color: rgb(241,233,222);
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
}
.crossroad {
	position: absolute;
	width: 40%;
	height: 100%;
	left:0px;
}
.history {
	position: absolute;
	width: 25%;
	height: 100%;
	left:45%;
	/*right:0px;*/
	overflow: auto;
}

.fate {
	position: absolute;
	width: 25%;
	height: 100%;
	right:0px;
	overflow: auto;
}

.crossroad-north ,
.crossroad-west ,
.crossroad-station ,
.crossroad-east,
.crossroad-south {
	position: absolute;	
	background-color: rgba(0,233,222,0.2);
	height: 30%;
	width: 30%;
}

.crossroad-north {
	top:2.5%;
	left: 35%;
}
.crossroad-west {
	top:35%;
	left: 2.5%;
}
.crossroad-station {
	top:35%;
	left: 35%;
}
.crossroad-east {
	top:35%;
	left:67.5%;
}
.crossroad-south {
	top:67.5%;
	left: 35%;
}

.crossroad-card {
	width: 100%;
	height: 100%;
	box-sizing:border-box;
	border: 1px solid black;
}
.crossroad-card-lear {
}
.crossroad-card-value {
}

.stage{
	width: 250px;
	height: 30px;
	border:1px solid;
	margin-bottom: 10px;
}
.title{
	float: left;
	width: 50px;
	padding: 5px;
}
#name{
	float: left;
	width: 160px;
}
